<template>
    <div style='margin-top:5%;'>
      <div class="row justify-content-center">
        <div class="col-1-2">
          <line-chart
            :data=dataLineChart>
          </line-chart>
        </div>
        <div class="col-2-2">
          <pie-chart
            :data="[['Blueberry', 44], ['Strawberry', 23]]">
          </pie-chart>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="column">
          <column-chart
            :data="[['Sun', 32], ['Mon', 46], ['Tue', 28]]">
          </column-chart>
        </div>
        <div class="column">
          <bar-chart
            :data="[['X-Small', 5], ['Small', 27]]">
          </bar-chart>
        </div>
        <div class="column">
          <area-chart
            :data="{'2017-01-01 00:00:00 -0800': 2, '2017-01-01 00:01:00 -0800': 5}">
          </area-chart>
        </div>
        <div class="column">
          <scatter-chart
            :data="[[174.0, 80.0], [176.5, 82.3]]"
            xtitle="Size"
            ytitle="Population">
          </scatter-chart>
        </div>
      </div>
    </div>
</template>
<script>

export default {
  name: 'Charts',

  data() {
    return {
      dataLineChart: [
        {
          name: 'Linea1',
          data: {
            '2019-11-13': 2,
            '2019-11-14': 5,
            '2019-11-15': 3,
            '2019-11-16': 8,
            '2019-11-17': 1,
            '2019-11-18': 9,
          },
        },
        {
          name: 'Linea2',
          data: {
            '2019-11-13': 9,
            '2019-11-14': 8,
            '2019-11-15': 3,
            '2019-11-16': 1,
            '2019-11-17': 7,
            '2019-11-18': 12,
          },
        },
      ],
    };
  },
  mounted() {
  },
  methods: {

  },
};
</script>

<style scoped>
.boton {
    margin: 10px;
}
</style>
