<template>
  <div id="container" class="row justify-content-center">
    <div class="col-3">
      <h3>TO DO</h3>
      <draggable class="list-group" :list="list1" group="people" @change="log">
        <div
          class="list-group-item"
          v-for="(element) in list1"
          :key="element.name"
        >
          {{ element.name }}
        </div>
      </draggable>
    </div>
    <div class="col-3">
      <h3>DOING</h3>
      <draggable class="list-group" :list="list2" group="people" @change="log">
        <div
          class="list-group-item"
          v-for="(element) in list2"
          :key="element.name"
        >
          {{ element.name }}
        </div>
      </draggable>
    </div>
    <div class="col-3">
      <h3>DONE</h3>
      <draggable class="list-group" :list="list2" group="people" @change="log">
        <div
          class="list-group-item"
          v-for="(element) in list3"
          :key="element.name"
        >
          {{ element.name }}
        </div>
      </draggable>
    </div>

    <!-- <rawDisplayer class="col-3" :value="list1" title="List 1" />

    <rawDisplayer class="col-3" :value="list2" title="List 2" /> -->
  </div>
</template>

<script>
import draggable from 'vuedraggable';


export default {
  name: 'Drag',
  data() {
    return {
      list1: [
        { name: 'Mostrar ejemplos', id: 8 },
        { name: 'data-binding', id: 9 },
        { name: 'vue-router', id: 10 },
        { name: '¿vuex?', id: 11 },
      ],
      list2: [
        { name: 'Crear Proyecto con vue-cli', id: 5 },
        { name: 'Descargar proyecto workshop', id: 6 },
        { name: 'Introducción a VueJS', id: 7 },
      ],
      list3: [
        { name: 'Instalar VS Code', id: 1 },
        { name: 'Instalar Node', id: 2 },
        { name: 'Instalar Vue', id: 3 },
        { name: 'Instalar vue-cli', id: 4 },
      ],
    };
  },
  components: {
    draggable,
  },
  methods: {
    log(e) {
      // eslint-disable-next-line
      console.log(e);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#container {
  text-align: center;
  float:center;
}
.title {
  margin-bottom: 2em;
}
.bigger-area > span {
  min-height: 90vh;
  display: block;
}

.drag-item {
  padding: 15px 10px;
  background-color: whitesmoke;
  min-width: 30vw;
  max-width: 90vw;
  margin: 0 auto 10px;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  transition: transform 0.25s cubic-bezier(0.02, 1.01, 0.94, 1.01);
  will-change: transform;
}
.list-complete-enter,
.list-complete-leave-active {
  opacity: 0;
}
</style>
