<template>
  <div style="height:100%; width:48%; margin-left:1%;margin-top:3%;">
    <!-- <div style="width:100%; height:70px;">
      <h2 style="float:left; margin-left:6%;">Tabla fea</h2>
    </div> -->
    <div style="float:left;width:100%;">
      <table class="tabla" border="1">
        <tr>
          <td>Edad</td>
          <td>Nombre</td>
          <td>Apellidos</td>
        </tr>
        <tr v-for="(dato, index) in datosParaTabla" :key="index">
          <td>
            {{dato.Edad}}
          </td>
          <td>
            {{dato.Nombre}}
          </td>
           <td>
            {{dato.Apellidos}}
          </td>
        </tr>
      </table>
       <button
        v-if="datosParaTabla.length>4 && !spiner"
        @click="$emit('eliminarFilaTabla')">
          Eliminar fila
        </button>
    </div>
  </div>
</template>

<script>

export default {
  name: 'tabla',

  props: {
    datosParaTabla: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style scoped>

.tabla {
  border: solid;
  border-collapse: separate;
  width: 100%;
}

</style>
